*{
    margin: auto;
}
.body{
    background: rgba(109, 108, 108, 0.178);
}
#empty{
    height: 130px;
    width: 100%;
}
#contact_us{
    background: white;
    width: 500px;
    height: 474px;
    padding-top: 80px;
    /* margin-top: 80px; */
    margin-bottom: 80px;
    background: url('images/logo.png') no-repeat center;
    background-size: cover;
}
#contact_us form{
    margin-left: 90px;
    padding-top: 80px;
}
#contact_us form img{
    margin-left: 30px;
    width: 120px;
    height: 100%;
    margin-bottom: 25px;
}
#sbtn{
    width: 170px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
    color: white;
    background-color: rgb(33,37,41);
}
#un , #email{
    margin-bottom: 25px;
    margin-left: 110px;
    width: 145px;
    height: 13px;
    padding: 6px 12px;
}
#msg{
    padding: 4px 10px;
    margin-bottom: 10px;
    text-align: right;
}
#un{
    background: url('images/user.png') no-repeat;
    background-position: left;
    text-align: right;
}
#email{
    background: url('images/email.png') no-repeat;
    background-position: left;
    text-align: right;
}
.ulogin , .ulogin:hover{
    color: black;
}
.R_F{
    margin-top: 10px;
    text-align: center;
    padding-right: 75px;
}
#rm{
    margin-top: 5px;
    margin-right: 6px;
    margin-left: 50px;
}