*{
    margin: auto;
}
.body{
    background: rgba(109, 108, 108, 0.178);
}
#empty{
    height: 130px;
    width: 100%;
}
#login{
    background: white;
    width: 320px;
    height: 474px;
    padding-top: 80px;
    /* margin-top: 80px; */
    margin-bottom: 80px;
}
#login form{
    margin-left: 70px;
    padding-top: 100px;
}
#login form h3{
    padding-left: 30px;
}
#rbtn{
    width: 125px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 26px;
    background-color: rgb(33,37,41);
    color: white;
}
#un , #email{
    margin-bottom: 15px;
    width: 140px;
    height: 13px;
    padding: 6px 12px;
}
#un{
    background: url('images/user.png') no-repeat;
    background-position: left;
    text-align: center;
}
#email{
    background: url('images/email.png') no-repeat;
    background-position: left;
    text-align: center;
}
.ulogin , .ulogin:hover{
    color: black;
}
.R_F{
    margin-top: 10px;
    text-align: center;
    padding-right: 75px;
}
#rm{
    margin-top: 5px;
    margin-right: 6px;
    margin-left: 50px;
}